@model IEnumerable<NewsServiceModel>

@{ 
    ViewBag.Title = "My News";
    ViewBag.AllowNewsEdit = true;

}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any News yet!</h2>

}

<partial name="_NewsPartial" model="@Model" />